name: Validation Ciblée (Rapport TP1)

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  test-features:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Exécution des Tests Ciblés (Fonctionnalité & Fiabilité)
        # Ajout de -Dsurefire.failIfNoSpecifiedTests=false pour éviter le crash
        run: mvn test -Dtest=TbJsFilterNodeTest,DeviceConnectivityControllerTest -Dsurefire.failIfNoSpecifiedTests=false
